# Node modules
**/node_modules/

# Environment variables
**/.env

# Build directories
**/dist/
**/build/

# Logs
**/logs/
**/*.log
**/package-lock.json
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# IDE та системні файли
**/.vscode/
**/.idea/
**/.DS_Store

# Тестові результати
**/coverage/
**/.nyc_output/

# Тимчасові файли
**/*.swp
**/*.tmp
